*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-color: #c0c0c0;
  --main-dark-color: #808080;
  --information-color: red;
  --counter-color: black;
  --game-padding: 15px;
  --game-border: 3px solid;
  --cells-in-row: 8;
  --cell-width-hight: 30px;
  --cell-border:3px solid;
  --game-max-width: calc( 
    calc(2* var(--game-padding)) +
    calc(2* var(--game-border)) +
    calc(var(--cells-in-row)* var(--cell-width-hight)))
}
@font-face {
  font-family: DIGITALDREAM;
  src: url(../assets/DIGITALDREAM.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

.game {
  background-color: var(--main-color);
  padding: var(--game-padding);
  max-width: var(--game-max-width);
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.mineCounter,
.timeCounter {
  background-color: var(--counter-color);
  color: var(--information-color);
  font-family: "DIGITALDREAM";
  font-size: 32px;
  min-width: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  outline: none;
}
.headerButton {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.gamePanel {
  text-align: center;
  font-size: 15px;
}
.panelButtons {
  display: flex;
}
.panelButtons button {
  flex: 1;
  padding-top: 26px;
  padding-bottom: 25px;
  cursor: pointer;
  font-size: 20nppx;
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
}
.cell {
  position: relative;
  width: var(--cell-width-hight);
  height: var(--cell-width-hight);
  cursor: pointer;
}
img {
  display: block;
  margin: auto;
  width: 22px;
}
.bomb {
  margin-top: 2px;
  width: 20px;
}
.modal {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.modalContent {
  width: var(--game-max-width);
  height: 150px;
  background-color: white;
  position: relative;
  top:-150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.modalText {
  text-align: center;
  font-size: 50px;
}
.modalButton {
  cursor: pointer;
  background-color: transparent;
  color: var(--counter-color);
  border: 3px solid black;
  padding: 10px 20px;
  font-size: 25px;
  outline: none;
  transition: background-color 0.1s ease-in, color 0.1s ease-in,
    border-color 0.1s ease-in;
}
p{
  z-index: -2;
}
.modalButton:hover {
  background-color: black;
  color: white;
  border-color: black;
}
.border {
  border: var(--game-border);
}
.border--convex {
  border-top-color: var(--main-dark-color);
  border-right-color: white;
  border-bottom-color: white;
  border-left-color: var(--main-dark-color);
}
.border--concave {
  border: var(--cell-border);
  border-top-color: white;
  border-right-color: var(--main-dark-color);
  border-bottom-color: var(--main-dark-color);
  border-left-color: white;
}
.border--revealCell {
  border-color: var(--main-color);
  border: 1px solid var(--main-dark-color);
}
.hide {
  opacity: 0;
}
.mine-value{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: 'Trispace', sans-serif;
}
.mine-1{
  color: blue;
}
.mine-2{
color: green;
}
.mine-3{
  color: red;
}
.mine-4{
  color: #000080;
}
.mine-5{
  color: #800000
}
.mine-6{
  color: #00FFFF
}
.mine-7{
  color: #00FFFF
}
.mine-8{
  color: #FF00FF
}
